.clear,
.group {
  display: block;
}

.clear::before,
.clear::after,
.group::before,
.group::after {
  display: table;
  content: "";
}

.clear,
.clear::after,
.group,
.group::after {
  clear: both;
}

a {
  outline: none;
  text-decoration: none;
}

.navbar .navbar-brand img {
  width: 100px;
  height: 50px;
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 978px) {
  .hoc {
    max-width: 978px;
  }
}

@media screen and (max-width: 900px) {
  .hoc {
    max-width: 90%;
  }
}

@media screen and (max-width: 750px) {
  #topbar {
    text-align: center;
  }

  #topbar>div:first-of-type>ul {
    margin-bottom: 15px;
  }

}

@media screen and (max-width: 450px) {
  #topbar ul li {
    margin: 2px;
    padding-right: 0;
    border-right: none;
  }

  h3.Category-name {
    font-size: 1.3rem;
  }

  .display-4 {
    font-size: 1.2rem;
    font-weight: 20px;
  }
  .moblie-compare-text{
    display: none;
  }
  #hide{
    width: 100px;
    height: 50px;
  }
  .btn-hide-position{
    text-align: right;
  }


}

@media screen and (max-width: 375px) {
  #topbar ul li {
    margin: 2px;
    padding-right: 0;
    border-right: none;
  }

  h3.Category-name {
    font-size: 1rem;
  }

  .display-4 {
    font-size: 1.5rem;
    font-weight: 20px;
  }
}

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}

/* Top Bar
--------------------------------------------------------------------------------------------------------------- */
#topbar {
  padding: 15px 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#topbar * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#topbar ul li {
  display: inline-block;
  margin-right: 10px;
  padding-right: 15px;
  border-right: 1px solid;
}

#topbar ul li:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

#topbar i {
  margin: 0 5px 0 0;
  line-height: normal;
}


/* Top Bar */
#topbar,
#topbar ul li {
  border-color: rgba(255, 255, 255, 0.2);
}

div .wrapper {
  background-color: royalblue;
}


/* Rows
--------------------------------------------------------------------------------------------------------------- */
.row0 {
  color: #ffffff;
  background-color: #363636;
}

.hoc {
  display: block;
  margin: 0 auto;
}

div.fl_right ul li a {
  color: #fff;
}

.fas .fa-angle-left {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.img-product {
  position: relative;
}

/* =================================== */
/* footer */

.footer-icon {
  padding-left: 2.5rem;
  position: relative;

}

.footer-icon::before {
  content: attr(footer-icon);
  font-family: "FontAwesome";
  font-size: 1.5rem;
  left: 0;
  top: -0.5rem;
  color: rgb(116, 226, 88);
  text-align: center;
  width: 2.5rem;
  position: absolute;
}

.footer-icon1 {
  font-size: 2rem;
}

/* product-page */
/* --------------------------------------------- */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(67, 68, 68, 0.7);
}

.img-product {
  position: relative;
}

.img-product:hover .overlay {
  opacity: 1;
}

.detail {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.img-product div {
  position: absolute;
}

.round-tag {
  width: 60px;
  height: 60px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  background: #FF2400;
  position: absolute;
  bottom: 0px;
  padding: 10px 5px 10px 7px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
}

div.card-body ul li {
  list-style: none;
}

.item1 {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  margin-bottom: 0;
}

.item1 a {
  color: #000;
}

.item1:hover {
  text-decoration: none;
  background-color: #6fd4c7;
}

.btn-buy {
  background-color: rgb(52, 84, 226);
  width: 80%;
  border-radius: 5px;
  color: #fff;
}

.btn-buy:hover {
  background-color: #434444;
  color: #fff;
}

.price {
  color: #37a12b;
  font-weight: 50px;
}



@media screen and (max-width: 450px) {

  .detail,
  .img-product:hover .overlay {
    display: none;
  }

  .moblie-none {
    display: none;
  }

  .moblie-width {
    color: var(--primary-color) !important;
    background-color: var(--secondary-color-light) !important;
  }
}

@media screen and (max-width: 768px) {
  #Category {
    display: none;
  }
}

#compare-board {
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: none;
}

div.compare-board div.container div.row div i::before {
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 1.5rem;
  padding-right: 10px;
  text-align: center;
  width: 2.5rem;
  position: initial;
}

/* ------------------------------------------------------- */
/* product detail */
/* ------------------------------------------------------- */
.bg-Specifications_manuals,
.bg-product_detail,
.bg-contact {
  background-color: #fff;
  border-radius: 15px;
}

/* ----------------------------------------------------- */
/* cart */
.responsive {
  width: 100%;
  height: auto;
}


/* contact us */
/* map */
.map-container-2 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-2 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}